<div class="container">
	
	<div class="homeStory">
		<div class="logo">
			<img src="./images/game_of_thrones_logo.jpg" class="logoImg">
		</div>
		<div>
			<p>
				A Song of Ice and Fire is a series of epic fantasy novels written by American novelist and screenwriter George R. R. Martin. Martin began the first volume of the series, A Game of Thrones, in 1991. It was first published in 1996. Martin gradually extended his originally intended trilogy to seven volumes, the fifth of which, A Dance with Dragons, took him five years to write before its publication in 2011; and he has publicly hinted that it might be stretched to an eighth volume. Martin's work on his sixth, The Winds of Winter, is still underway.
	The story of A Song of Ice and Fire takes place on the fictional continents Westeros and Essos, with a history of thousands of years. The point of view of each chapter in the story is a limited perspective of an assortment of characters that grows from nine, in the first, to thirty-one by the fifth novel. Three predominant stories interweave: a dynastic war among several families for control of Westeros; the rising threat of the superhuman Others beyond Westeros' northern border; and the ambition of Daenerys Targaryen, the exiled daughter of a king, to assume her ancestral throne.
			</p>
		</div>		
	</div>
</div>